<script>
    function toggleField(selectId, inputId) {
        const select = document.getElementById(selectId);
        const input = document.getElementById(inputId);
        const parent = input?.parentElement;

        if (select.value === "other") {
            parent.style.display = "flex";
            parent.style.flexDirection = "column";

        } else {
            parent.style.display = "none";

        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        toggleField('book_choice', 'id_book_title');
        toggleField('destination_choice', 'id_destination_name');
    });

    $(document).ready(function() {
        $('.select-search').select2({
          width: '100%',
          allowClear: true
        });
    });
</script>
