{% extends 'base.html' %}

{% block content %}
    <form method="post" class="container" enctype="multipart/form-data">
        <div class="form-style mx-auto d-flex flex-column form-group align-items-center justify-center">
             <h1>Edit Post</h1>
            {% csrf_token %}

            {% include 'posts/post-form-fields.html' %}

            <div  class="form-row d-flex flex-column gap-2 mt-3">
                <div class="d-flex flex-column align-items-center">
                    {{ form.image1.label_tag }}
                    {{ form.image1 }}
                </div>

                <div class="d-flex flex-column align-items-center justify-center">
                    {{ form.image2.label_tag }}
                    {{ form.image2 }}
                </div>

                <div class="d-flex flex-column align-items-center">
                    {{ form.image3.label_tag }}
                    {{ form.image3 }}
                </div>
            </div>
            <button type="submit">Submit</button>
        </div>
    </form>
    {% include 'posts/book-destination-script.html' %}
{% endblock %}