{% load static %}
{% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
            <p class="mb-0">{{ error }}</p>
            {% endfor %}
        </div>
{% endif %}

        {{ form.title.label_tag }}
        {% if form.title.errors %}
            <div class="error-field">
                {{ form.title.errors|striptags }}
            </div>
        {% endif %}
        {{ form.title }}
        <div class="form-row d-flex gap-2">
            <div class="d-flex flex-column">
                {{ form.book_choice.label }}
                {% if form.book_choice.errors %}
                    <div class="error-field">
                        {{ form.book_choice.errors|striptags }}
                    </div>
                {% endif %}
                <div class="d-flex flex-column align-center">
                    <select id="book_choice" name="book_choice" onchange="toggleField('book_choice', 'id_book_title')">
                        {% for value, label in form.book_choice.field.choices %}
                            <option value="{{ value }}" {% if form.book_choice.value == value|stringformat:"s" %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select><br>
                </div>
            </div>


            <div class="d-flex flex-column">
              {{ form.destination_choice.label }}
              <select id="destination_choice" name="destination_choice" onchange="toggleField('destination_choice', 'id_destination_name')">
                {% for value, label in form.destination_choice.field.choices %}
                 <option value="{{ value }}" {% if form.destination_choice.value == value|stringformat:"s" %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
              </select><br>

            </div>
        </div>
        <div class="form-row d-flex gap-2 flex-column">
             <div style="display:none;">
                        {{ form.book_title.label }}
                        {{ form.book_title }}
                </div>

                <div style="{% if form.destination_choice.value != 'other' %}display:none;{% endif %}" class="form-group">
                    {% for error in form.destination_name.errors %}
                        <p class="text-center error-field" >{{ error|striptags }}</p>
                    {% endfor %}
                    {{ form.destination_name.label }}
                    <small class="form-text text-muted">
                        {{ form.destination_name.help_text }}
                    </small>
                    {{ form.destination_name }}

                </div>
        </div>

        <div  class="d-flex flex-column align-items-center">
                {{ form.content.label_tag }}
                {{ form.content }}
        </div>

