{% extends 'base.html' %}
{% load static %}

{% block content %}

    <form method="post" class="container">
        {% csrf_token %}
        <div class="form-style mx-auto flex-column form-group d-flex align-items-sm-center justify-center">
            <h1>Log In</h1>

              <label for="{{ form.username.id_for_label }}">Username:</label>
              {{ form.username }}

              <label for="{{ form.password.id_for_label }}">Password:</label>
              {{ form.password }}

              {% if form.non_field_errors %}
                <div class="login-error">
                  {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}

            <button>Submit</button>
            <a href="{% url 'signin' %}">Don`t have an account? Create one here</a>

        </div>

    </form>


{% endblock %}