{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content-container center-flex">
                <div class="post-content content-container">
                    <div class="d-flex justify-content-between">
                        <div class="profile-details d-flex gap-3 my-2">
                                {% include 'common/profile-picture-and-info.html'%}
                      </div>
                      <div class="d-flex gap-4 pt-4">
                          <div class="d-flex flex-column align-items-center">
                              <span class="text-center">{{ post_count }}</span>
                              <span> Posts</span>
                          </div>

                          <div class="d-flex flex-column align-items-center">
                              <span>{{ books_count }}</span>
                              <span> Read books</span>
                          </div>

                          <div class="d-flex flex-column align-items-center">
                              <span>{{ destination_count }}</span>
                              <span>Destinations</span>
                          </div>
                      </div>
                     {% if request.user == profile.user %}
                        <div class="menu-container">
                            <details>
                                  <summary ></summary>
                                  <div class="popup-menu">
                                      <p><a href="{% url 'post-edit' pk=profile.user.pk %}" class="times-new-roman">Edit</a></p>
                                      <p><a href="{% url 'post-delete' pk=profile.user.pk %}" class="times-new-roman">Delete</a></p>
                                  </div>
                            </details>
                        </div>
                     {% endif %}
                    </div>

                    <div>
                        {% if not object.user.post_set %}
                            <h2 class="title text-center">No posts to show</h2>
                        {% else %}
                            <div class="post-image-container grid-3">
                                {% for post in object.user.post_set.all %}
                                    <a href="{%  url 'post-details' post.pk %}" class="post-img-profile">
                                        <img src="{{ post.image1.url }}" alt="img-post"/>
                                    </a>
                                {% endfor %}
                            </div>


                        {% endif %}
                    </div>

                </div>
    </div>

<script>
    document.addEventListener("click", function (e) {
        document.querySelectorAll("details").forEach((detail) => {
            if (!detail.contains(e.target)) {
                detail.removeAttribute("open");
            }
        });
    });
</script>
{% endblock %}