{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content-container center-flex">
        <div class="post-content content-container">
            <div class="d-flex justify-content-between mb-3">
                <div>
                    <div class="profile-details d-flex gap-3 mt-2 mb-4">
                            {% include 'common/profile-picture-and-info.html' with user=profile.user %}
                    </div>
                    <div>
                        <p class="abril-fatface-regular my-3 fs-5">{{  object.user.profile.full_name }}</p>
                        {% if object.user.profile.bio_info %}
                            <p class="carattere-cursive fs-4">{{ object.user.profile.bio_info }}</p>
                        {% else %}
                            <br>
                            <br>
                        {% endif %}
                    </div>
                </div>
                 {% if request.user == profile.user %}
                    <div class="menu-container">
                        <details class="menu-details">
                              <summary ></summary>
                              <div class="popup-menu w-200 text-center">
                                  <p><a href="{% url 'profile-edit' pk=profile.user.pk %}" class="times-new-roman">Edit profile details</a></p>
                                  <p><button type="button" class="p-0 m-0 times-new-roman delete-btn" data-bs-toggle="modal" data-bs-target="#deleteProfileModal">
                                    Delete profile
                                  </button>
                                  </p>
                              </div>
                        </details>
                    </div>
                  <div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteProfileModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content rounded-4 shadow">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteProfileModalLabel">Delete Profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete your profile? This action cannot be undone.
                      </div>
                      <div class="modal-footer d-flex justify-content-center gap-2">
                        <form method="POST" action="{% url 'profile-delete' pk=profile.user.pk %}">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Yes</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                 {% endif %}
            </div>

            <div class="sections d-flex justify-content-center align-items-center">
                  <i id="world-icon" class="fa-solid fa-earth-europe clickable-icon"></i>
                  <div class="icon-divider"></div>
                  <i id="book-icon" class="fa-solid fa-book-open clickable-icon"></i>
            </div>

            <div id="map-posts-section">
                <div id="map"></div>
                <div id="profile-posts" class="mt-3">
                    {% if not object.user.post_set.exists %}
                        <h2 class="title text-center">No posts to show</h2>
                    {% else %}
                        <div class="post-image-container grid-3">
                            {% for post in object.user.post_set.all %}
                                <a href="{%  url 'post-details' post.pk %}" class="post-img-profile">
                                    <img src="{{ post.image1.url }}" alt="img-post"/>
                                </a>
                            {% endfor %}
                        </div>

                    {% endif %}
            </div>
        </div>

            <div id="book-reviews" style="display: none;">
                {% if user_reviews %}
                    <h2 class="carattere-cursive text-center mx-3">Book reviews</h2>
                        {% for review in user_reviews %}
                            <a href="{% url 'reviews-list' book_pk=review.book.pk %}#review-{{ review.id }}">
                                <div class="post-content content-container mb-3 w-100">
                                    <p><strong>{{ review.book.title }}</strong></p>
                                    <p class="times-new-roman mb-0"><strong> Rating: {{ review.rating }}</strong></p>
                                    <p class="small-text small-font mt-0">{{ review.date_added }}</p>
                                    <p class="edu-nsw-act-hand-pre-cursive">{{ review.content }}</p>
                                </div>
                             </a>
                        {% endfor %}
                {% else %}
                    <h2 class="title text-center">No reviews yet.</h2>
                {% endif %}
            </div>

        </div>
    </div>

<script>
  document.addEventListener("click", function (e) {
      document.querySelectorAll("details").forEach((detail) => {
          if (!detail.contains(e.target)) {
              detail.removeAttribute("open");
          }
      });
  });

  const destinations = [
    {% for dest in visited_destinations %}
      {% if dest.latitude and dest.longitude %}
        {
          name: "{{ dest.name|escapejs }}",
          country: "{{ dest.country|escapejs }}",
          lat: {{ dest.latitude }},
          lng: {{ dest.longitude }}
        },
      {% endif %}
    {% endfor %}
  ];

  const map = L.map('map', {
    worldCopyJump: false,
    maxBoundsViscosity: 1.0
    }).setView([0, 0], 2);

  const southWest = L.latLng(-85, -180);
  const northEast = L.latLng(85, 180);
  const bounds = L.latLngBounds(southWest, northEast);
  map.setMaxBounds(bounds);

  L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
      attribution: '&copy; OpenStreetMap contributors & Carto',
      subdomains: 'abcd',
      maxZoom: 19,
      noWrap: true,
      bounds: bounds
  }).addTo(map);


  const customIcon = L.divIcon({
    className: 'custom-marker',
    iconSize: [12, 12],
  });


  destinations.forEach(dest => {
    L.marker([dest.lat, dest.lng], { icon: customIcon })
      .addTo(map)
      .bindPopup(`<strong>${dest.name}</strong><br>${dest.country}`);
  });

  if (destinations.length > 0) {
    const bounds = destinations.map(d => [d.lat, d.lng]);
    map.fitBounds(bounds);
  }

  const worldIcon = document.getElementById('world-icon');
  const bookIcon = document.getElementById('book-icon');
  const mapPostsSection = document.getElementById('map-posts-section');
  const bookReviewsSection = document.getElementById('book-reviews');

  function showMapPosts() {
    mapPostsSection.style.display = 'block';
    bookReviewsSection.style.display = 'none';
    worldIcon.classList.add('active');
    bookIcon.classList.remove('active');
  }

  function showBookReviews() {
    bookReviewsSection.style.display = 'block';
    mapPostsSection.style.display = 'none';

    bookIcon.classList.add('active');
    worldIcon.classList.remove('active');
  }


  showMapPosts();

  worldIcon.addEventListener('click', showMapPosts);
  bookIcon.addEventListener('click', showBookReviews);

  function confirmDelete() {
    return confirm("Are you sure you want to delete your profile?");
  }
</script>
{% endblock %}