{% extends 'base.html' %}
{% load static %}

{% block content %}

    <form method="post" class="container" enctype="multipart/form-data">
        <div class="form-style mx-auto flex-column form-group d-flex align-items-center justify-center">
            <h1> Create yor profile</h1>
            <p>After successfully registered you will be asked to log in</p>
                {% csrf_token %}
                {% for field in form %}
                    <div class="mx-auto flex-column d-flex align-items-center justify-center">
                        <label for="{{ field.id_for_label }}"> {{ field.label }}</label>
                        {% if field.errors %}
                            <div class="error-field mb-2">{{ field.errors }}</div>
                        {% endif %}
                        {{ field }}

                    </div>
                {% endfor %}

                <button>Submit</button>
         </div>
    </form>



{% endblock %}