.genre-content{
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  background-color: rgb(27, 77, 62);
}

.fa-book-bookmark {
  font-size: 150px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.book {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 20px;
  text-align: center;
}

