h1, div * {
    font-family: "Times New Roman", sans-serif;
}

h1 {
    font-weight: 700;
}
h2 {
    font-family: "Carattere", cursive;
    text-align: center;
    margin: 30px;
}

main {
    padding: 20px;
}

.contacts {
    margin: 30px auto;
    gap:30px;
    flex-wrap: wrap;

}

.contact-info {
    box-sizing: border-box;
    text-align: center;


}
img {
    width: 75%;
    height: 500px;
}