.comment-card {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 5px;
}

.profilepic-comment img{
    border-radius: 50%;
}

.comment-text textarea {
    border-radius: 15px;
    border: 1px solid seashell;
    padding: 5px;
    width: 100%;

}


p.comment-text:focus, textarea.comment-textarea:focus{
    border-color: rgb(10, 188, 133);
    outline: none;
}

.comment-button{
    width: 100%;
    background-color: #f8c3b6;
    border: #f8c3b6;
}

#toggle-comments-btn, .comment-redirect {
    background-color: bisque;
    border: bisque;
    width: 100%;
}

.comment-textarea {
    width: 600px;
    background-color: rgb(241, 227, 211);
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 15px;
    border: 2px solid rgb(241, 227, 211);

}

.edit-comment-btn, .delete-comment-btn{
    width: 45%;
}

.comment-buttons {
  position: absolute;
  top: -70px;
  bottom: 8px;
  right: 10px;
  display: flex;
  gap: 8px;

}

.comment-buttons button {
    background-color: transparent;
    border: none;
}