.form-style, .profile-form{
    margin-top: 30px;
    border: 2px solid rgb(224, 122, 95);
    background-color: rgb(227, 152, 132);
    border-radius: 10px;
    width: 40%;

}

.profile-form {
    width: 50%;
}

.form-style label {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.form-style h1{
    margin: 10px 35px;
}

.profile-form label {
    color: rgb(105, 11, 34);
}

.profile-form input {
    border-radius: 5px;
    border: 2px solid rgb(105, 11, 34);
}

.form-style input, .form-style textarea, .form-style div select{
    border-radius: 5px;
    border: 2px solid rgb(105, 11, 34);
}


.form-style *, .form-style textarea .form-style div select, .profile-form *{
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}


 input:focus, .form-style textarea:focus, .form-style div select:focus {
    border-color: rgb(10, 188, 133);
    outline: none;
    box-shadow: 0 0 0 0.2rem rgb(243, 191, 177);
  }

.form-style input, .form-style div select{
  border-radius: 15px;
  margin: 0 0 20px;
  padding: 5px;
  box-sizing: border-box;
}

input[type="file"]::file-selector-button {
    background-color: rgb(188, 49, 82);
    border: 2px solid rgb(188, 49, 82);
    border-radius: 5px;
    width: 50%;
    padding: 0 5px;

}

input[type="file"] {
    width: 70%;
    margin-left: 60px;
    border: none;
}

.add-post{
    width: 80%;
}

.form-style select {
    width: 230px;
}

.profile-form input[type="file"] {
    margin-top: 10px;

}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 120px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"],
.form-group input[type="tel"] {
  flex: 1;
  padding: 2px 5px;
  border-radius: 4px;

}