.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 2rem auto 0 auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  max-height: 700px;
}

.slide {
  flex-shrink: 0;
  width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  width: 10%;
}

.arrow.prev {
  left: 10px;
}

.arrow.next {
  right: 10px;
}

.post-content{
  width: 800px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 20px;
}

.post-content p {
  width: 100%;
  margin-top: 20px;
}

.small-font {
    font-size: 0.8em;
}

.small-text{
  opacity: 80%;
}


.times-new-roman {
  font-family: "Times New Roman", sans-serif;
}

.edu-nsw-act-hand-pre-cursive {
  font-family: "Edu NSW ACT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.carattere-cursive {
  font-family: "Carattere", cursive;
}

.menu-container {
  position: relative;
  display: inline-block;
}

.menu-details {
  position: relative;
  all: unset;
  padding-right: 40px;
}

summary {
  list-style: none;
  cursor: pointer;
  color: transparent;
  position: relative;
  width: 1em;
  height: 1em;
}

  .popup-menu {
    position: absolute;
    right: 0;
    top: 1.5em;
    background: rgb(241, 227, 211);
    border: 1px solid #ddd;
    border-radius: 0.5em;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 0.5em 0;
    z-index: 100;
    min-width: 100px;
  }

  .popup-menu a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    font-style: normal;
    font-size: 1em;
  }

  .popup-menu .delete-btn {
    background-color: transparent;
    border:none;
  }

  .popup-menu .delete-btn:hover{
    color: rgb(224, 122, 95);

  }

.post-img-profile img{
  width: 245px;
  height: 245px;
  object-fit: cover;
  border-radius: 15px;
}

.grid-3-posts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 9px;
}

.w-200 {
  width: 200px;
}

.modal-footer *{
  text-align: center;
  width: 200px;
}

