{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content-container center-flex">
        <h1 class="carattere-cursive"> Please select a genre </h1>
        <div class="post-content content-container">
            <div class="post-image-container grid-3">
                {% for genre in grouped_books.keys %}
                    <div class="genre-content times-new-roman">
                        <a href="{% url 'books-by-genre' genre=genre|default:'undefined' %}">
                            <p>{{ genre }}</p>
                        </a>
                    </div>
                {% endfor %}
             </div>
        </div>
    </div>
{% endblock %}