{% extends 'base.html' %}

{% block content %}

    {% if not review_list %}
        <h1 class="title text-center">There are no reviews yet for this book</h1>
        <h2 class="subtitle"><a href="{% url 'add-review' book_pk=book_pk %}">Want to add review? Click here</a></h2>
    {% else %}
        <div class="d-flex flex-column gap-3">
            <h2 class="title text-center"> Reviews for:</h2>
            <h2 class="title text-center">"{{ book }} "</h2>
            <h5 class="text-center times-new-roman"> Number of reviews: {{ reviews_count }}</h5>
            <h5 class="text-center times-new-roman"> Average rating: {{ avg_rating }}</h5>
            {% if not has_reviewed %}
                 <h2 class="subtitle"><a href="{% url 'add-review' book_pk=book_pk %}">Want to add review? Click here</a></h2>
            {% endif %}
            {% for review in review_list %}
              <div class="post-content mx-auto d-flex flex-column" id="review-{{ review.id }}">
                <div class="d-flex justify-content-between">
                        <a  href="{% url 'profile-details-page' review.user.pk %}">
                        {% include 'common/profile-picture-and-info.html' with target_user=review.user %}
                    </a>
                    {% if request.user == review.user %}
                        <div class="menu-container">
                            <details class="menu-details">
                                  <summary ></summary>
                                  <div class="popup-menu text-center">
                                      <p><a href="{% url 'edit-review' book_pk=review.book.pk review_pk=review.pk %}" class="times-new-roman">Edit</a></p>
                                      <p><a href="{% url 'delete-review' book_pk=review.book.pk review_pk=review.pk %}" class="times-new-roman">Delete</a></p>
                                  </div>
                            </details>
                        </div>
                    {% endif %}
                </div>
                   <div>
                        <p class="times-new-roman mb-0"><strong> Rating: {{ review.rating }}</strong></p>
                        <p class="small-text small-font mt-0">{{ review.date_added }}</p>


                        <p class="edu-nsw-act-hand-pre-cursive">{{ review.content }}</p>
                    </div>

                </div>

            {% endfor %}
       </div>
    {% endif %}



 <script>
    document.addEventListener("click", function (e) {
        document.querySelectorAll("details").forEach((detail) => {
            if (!detail.contains(e.target)) {
                detail.removeAttribute("open");
            }
        });
    });
 </script>
{% endblock %}