{{ form.book.label_tag }}
{% if form.book.errors %}
    <div class="error-field">
        {{ form.book.errors }}
    </div>
{% endif %}
    {% if form.non_field_errors %}
        <div class="error-field">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
{{ form.book }}

{{ form.rating.label_tag }}
{% if form.rating.errors %}
    <div class="error-field">
        {{ form.rating.errors }}
    </div>
{% endif %}
{{ form.rating }}

{{ form.content.label_tag }}
{% if form.content.errors %}
    <div class="error-field">
        {{ form.content.errors }}
    </div>

{% endif %}
{{ form.content }}