{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="content-container center-flex background">
        <h1 class="title center-flex">Welcome to WanderWords!</h1>
        <div class="img-fluid home-logo">
            <img src="{% static 'images/logo.png' %}" class="home-logo" alt="logo"/>
        </div>
{#        <h2 class="subtitle center-flex"><a href="{% url 'sign-in' %}">Are you new? Become a wanderer with a story to share. Click here to start</a></h2>#}
    </div>
{% endblock %}