{% load static %}


<nav class="d-flex justify-content-between">
    {% if request.user.is_authenticated %}
        <a href="{% url 'posts-feed' %}" class="menu-link">
            <img src="{% static 'images/logo.png' %}" class="nav-logo" alt="logo"/>
        </a>
    {% else %}
        <a href="{% url 'home' %}" class="menu-link">
            <img src="{% static 'images/logo.png' %}" class="nav-logo" alt="logo"/>
        </a>
    {% endif %}
    <ul class="menu center-flex">
        {% if request.user.is_authenticated %}
            <li>
            <a href="{%  url 'add-post' %}" class="menu-link">
                <span>Add post</span>
            </a>
        </li>

        <li>
            <a href="{% url 'add-review' %}" class="menu-link">
                <span>Add book review</span>
            </a>
        </li>
        <li>
            <a href="{% url 'posts-feed' %}" class="menu-link">
                <span>Post feed</span>
            </a>
        </li>

        <li>
            <a href="{% url 'genres-list' %}" class="menu-link">
                <span>Books</span>
            </a>
        </li>
        <li>
            <a href="{% url 'profile-details-page' request.user.pk %}" class="menu-link">
                <span>My Profile</span>
            </a>
        </li>
            <li>
                <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit()" class="menu-link">
                    <span>Log out</span>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'login' %}" class="menu-link">
                    <span>Log in</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

<form style="display: none" id="logout-form" action="{% url 'logout' %}" method="post">
    {% csrf_token %}
</form>