{% load static %}


<nav class="d-flex justify-content-between">
    <a href="{% url 'home' %}" class="menu-link">
        <img src="{% static 'images/logo.png' %}" class="nav-logo" alt="logo"/>
    </a>
    <ul class="menu center-flex">
        <li class="menu-item">
{#            <a href="{% url 'log-in' %}" class="menu-link">#}
                <span>Log in</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="{%  url 'add-post' %}" class="menu-link">
                <span>Add post</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'posts-feed' %}" class="menu-link">
                <span>Post feed</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">
                <span>Notifications</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">
                <span>Settings</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="ai-person"></i>
                <span>Profile</span>
            </a>
        </li>
    </ul>
</nav>