{% load static %}
<div class="d-flex gap-2">
    {% with target_user|default:user as person %}
        {% if person.profile.profile_picture %}
            <img src="{{ person.profile.profile_picture.url }}" class="nav-logo">
        {% else %}
            <img src="{% static 'images/default-avatar-profile.jpg' %}" alt="default-profile-picture" class="nav-logo">
        {% endif %}

        <div class="info">
            <h2 class="py-3 abril-fatface-regular">
                {% if person.profile.full_name %}
                    {{ person.profile.full_name }}
                {% else %}
                    {{ person.username }}
                {% endif %}
            </h2>
        </div>
    {% endwith %}
</div>