{% load static %}
<div class="d-flex gap-2">
        {% if user.profile.profile_picture %}
            <img src="{{ user.profile.profile_picture.url }}" class="nav-logo" alt="profile-picture">
        {% else %}
            <img src="{% static 'images/default-avatar-profile.jpg' %}" alt="default-profile-picture" class="nav-logo">
        {% endif %}

        <div class="info">
            <h2 class="py-3 abril-fatface-regular">
                {% if user.profile.full_name %}
                    {{ user.profile.full_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
            </h2>
        </div>
</div>