{% extends 'base.html' %}
{% load static %}

{% block content %}

    <form method="post" class="container">
        <div class="form-style mx-auto flex-column form-group d-flex align-items-sm-center justify-center">
            <h1>Log in</h1>

             <label for="username">Username:</label>
                <input
                  type="text"
                  name="username"
                  maxlength="10"
                  required=""
                  id="username"
                />

                <label for="password">Password:</label>
                <input
                        type="password"
                        name="password"
                        maxlength="100"
                        required=""
                        id="password"
                />

                <button>Log in</button>
         </div>
    </form>


{% endblock %}